.wrapper-address
    .container 
        .address 
            .address__title Design tips, tricks, and freebies. Delivered weekly.
            .address__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.
            form(method="POST" action="https://peaceful-island-78575.herokuapp.com/api").address-form
                input.address-form__input(type="text" name="name" required placeholder="Email Address...")
                button(type="submit").button.address-form__button Subscribe