.container-avatar 
    .avatar 
        .avatar-img 
            img(src="https://via.placeholder.com/320x460", alt="" img="avatar-img__el")
        .avatar-content
            .avatar-content-first-part
                span(class="avatar-content-first-part__span").avatar-content-first-part__title mark waugh
                .avatar-content-first-part__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
                ul.avatar-content-first-part__social 
                    li.avatar-content-first-part__social__link 
                        a(href="" class="avatar-content-first-part__social__list")  Facebook
                    li.avatar-content-first-part__social__link
                        a(href="" class="avatar-content-first-part__social__list")  Dribble
                    li.avatar-content-first-part__social__link
                        a(href="" class="avatar-content-first-part__social__list")  Behance
                    li.avatar-content-first-part__social__link
                        a(href="" class="avatar-content-first-part__social__list")  Twiter
            .avatar-content-second-part
                .avatar-content-second-part__img.avatar-content-second-part__img--relative 
                    img(src="https://via.placeholder.com/200x215", alt="" class="avatar-content-second-part__img__el")
                    .avatar-content-second-part__img-text sokina jue
                .avatar-content-second-part__img 
                    img(src="https://via.placeholder.com/200x215", alt="" class="avatar-content-second-part__img__el")
                .avatar-content-second-part__img
                    img(src="https://via.placeholder.com/200x215", alt="" class="avatar-content-second-part__img__el")
                .avatar-content-second-part__img
                    img(src="https://via.placeholder.com/200x215", alt="" class="avatar-content-second-part__img__el")