.container 
    .content
        .content-intro 
            .content-intro__title feature products
            .content-intro__text Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
            hr.content-intro--hr
        ul.content-menu
            li.content-menu__list
                a(class="content-menu__list__link content-menu__list__link--hover" href="#") all
            li.content-menu__list
                a(class="content-menu__list__link content-menu__list__link--hover" href="#") print template
            li.content-menu__list
                a(class="content-menu__list__link content-menu__list__link--hover" href="#") web template
            li.content-menu__list
                a(class="content-menu__list__link content-menu__list__link--hover" href="#") user interface
            li.content-menu__list
                a(class="content-menu__list__link content-menu__list__link--right content-menu__list__link--hover " href="#") mock-up
        .content-blocks
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el.content-blocks__el--right 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
            .content-blocks__el.content-blocks__el--right 
                img(src="https://via.placeholder.com/290x290", alt="" class="content-blocks__el__image")
        .content-intro--start 
            .content-intro__title Meet our team
            .content-intro__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template..
            hr.content-intro--start--hr.content-intro--start--hr-bottom