.wrapper-footer
    .container
        .footer
            .footer__text © Copyright @Junaed 2016, All rights reserved.
            .footer__social
                a(href="#" class="footer__social--el") 
                    img(src="../../img/img_9.png", alt="")
                a(href="#" class="footer__social--el") 
                    img(src="../../img/img_10.png", alt="")
                a(href="#" class="footer__social--el") 
                    img(src="../../img/img_11.png", alt="")
                a(href="#" class="footer__social--el") 
                    img(src="../../img/img_12.png", alt="")    