.wrapper
	.wrapper-header
		.container
			.header
				.header-menu
						li.header-menu__list.header-menu__list--hover 
							a(class="header-menu__link" href="#") Home
						li.header-menu__list.header-menu__list--hover 
							a(class="header-menu__link" href="#") Portfolio
						li.header-menu__list.header-menu__list--hover  
							a(class="header-menu__link" href="#") About us
						li.header-menu__list.header-menu__list--hover
							a(class="header-menu__link" href="#") Contact
				.header-main
					.header-main-first-part
						h1.header-main-first-part__title OUR STRONG ORGANAISATION
						.header-main-first-part__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.
						a(href="#").button.btn-1 Contact us
					.header-main-second-part
						<video class="header-main-second-part__video" controls poster="https://html5book.ru/wp-content/themes/papercuts/video/martynko.png" preload="none">
							<source src="https://www.youtube.com/watch?v=3CCR_2c4Q3M" type="video/mp4">
						</video>
						