.container   
		.info 
			.info-first-part
				.info-first-part__title do you know we can provide for you ?
				.info-first-part__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
				a(href="#").button.button--info Learn more 
			.info-second-part
				.info-second-part-wrap 
					.info-second-part-wrap__logo
						img(src="../../img/image_1.svg", alt="")
					.info-second-part-wrap__title Management
					.info-second-part-wrap__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
				.info-second-part-wrap.info-second-part-wrap--not-right 
					.info-second-part-wrap__logo 
						img(src="../../img/image_3.svg", alt="")
					.info-second-part-wrap__title UI /UX Design
					.info-second-part-wrap__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
				.info-second-part-wrap 
					.info-second-part-wrap__logo 
						img(src="../../img/image_2.svg", alt="")
					.info-second-part-wrap__title Logo / Branding
					.info-second-part-wrap__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
				.info-second-part-wrap.info-second-part-wrap--not-right--bottom 
					.info-second-part-wrap__logo 
						img(src="../../img/image_4.svg", alt="")
					.info-second-part-wrap__title Animation
					.info-second-part-wrap__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
		hr.hr--bottom