.container 
    .content-intro--start 
        .content-intro__title get in touch
        .content-intro__text.content-intro__text--main-info Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
        hr.content-intro--start--hr.content-intro--start--hr-bottom
    .main-info
        .main-info-first-part-container
            .main-info-first-part
                form(method="POST" action="https://peaceful-island-78575.herokuapp.com/api").main-info-first-part-form
                    input(type="text" name="name" required placeholder="Name").main-info-first-part-form__input
                    input(type="text" name="name" required placeholder="Your Mail").main-info-first-part-form__input.main-info-first-part-form__input--margin-right
                    textarea(type="text" name="name", required placeholder="Type your message" cols="30", rows="10").main-info-first-part-form__textarea
                    button.button.main-info-first-part-form__button send message
        .main-info-second-part
            ul.main-info-second-part-info
                li.main-info-second-part-info__title-link
                    a(href="#" class="main-info-second-part-info__title-list") contact info
                li.main-info-second-part-info__text-link 
                    a(href="#" class="main-info-second-part-info__text-list").main-info-second-part-info__text-list--mrb mrb Jalalabad 24 / A, Ambaarkhana, Sylhet,
                li.main-info-second-part-info__text-link
                    a(href="#" class="main-info-second-part-info__text-list") Bangladesh
                li.main-info-second-part-info__text-link
                    a(href="#" class="main-info-second-part-info__text-list") redwan@deviserweb.com
                li.main-info-second-part-info__text-link
                    a(href="#" class="main-info-second-part-info__text-list") (+88) 017 617 46373