@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');
@import './misc.scss';

@font-face {
    font-family: "$font-1";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "$font-2";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "$font-3";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "$font-4";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "$font-5";
    src: url("../fonts/OpenSans-Italic.ttf");
}

$font-1: 'Open Sans';
$font-2: 'Open Sans Bold';
$font-3: 'OpenSans ExtraBold';
$font-4: 'OpenSans Semibold';
$font-5: 'OpenSans Italic';

.button {
    width: 230px;
    height: 55px;
    padding: 11px 0px;
	border: solid 0px;
    border-radius: 5px;
    background-color: #ff2d2d;
    font-family: "$font-2";
	font-size: 18px;
	letter-spacing: 0.19px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
    &:hover {
        background: orange;
		transition: 0.3s;
		color: #fff;
    }
    @include laptops() {
        width: 200px;
        height: 45px;
    }
    @include tablets {
        width: 160px;
        height: 35px;
        font-size: 14px;
    }
    @include phones {
        font-size: 12px;
    }

    &--info {
        background: #fff;
        color: #ff2d2d;
        border: #ff0000 solid;
        @include tablets {
            margin-bottom: 50px;
        }
    }
}


