.main-info-first-part-container {
    max-width: 740px;
}

.main-info {
    display: flex;
    @include laptops {
        flex-wrap: wrap;
    }
    
    
    &-first-part {
        display: flex;
        flex-direction: column;
        &-form {

            &__input {
                width: 340px;
                margin-right: 45px;
                margin-bottom: 45px;
                border-radius: 2px;
                padding-left: 50px;
                border: solid 0px;
                border-radius: 5px;
                background-color: #e5e5e5;
                font-size: 18px;
                font-family: "$font-1";
                height: 70px;
                &--margin-right {
                    margin-right: 0px;
                }
                @include tablets {
                    width: 200px;
                }
                @include phones {
                    width: 200px;
                    margin-right: 20px;
                    height: 40px;
                    margin-bottom: 30px;
                    font-size: 12px;
                }
            }

            &__textarea {
                height: 245px;
                width: 730px;
                border: solid 0px;
                border-radius: 5px;
                background-color: #e5e5e5;
                font-size: 18px;
                font-family: "$font-1";
                padding-left: 50px;
                padding-top: 35px;
                margin-bottom: 45px;
                @include tablets {
                    width: 450px;
                }
                @include tablets {
                    width: 300px;
                    font-size: 12px;
                    padding-top: 20px;
                    padding-top: 30px;
                    height: 120px;
                }
            }

            &__button {
                width: 730px;
                margin-bottom: 110px;
                height: 70px;
                @include tablets {
                    width: 450px;
                }
                @include phones {
                    width: 300px;
                    height: 40px;
                    margin-bottom: 55px;
                    font-size: 12px;
                }
            }
        }
    }

    &-second-part {
        background-color: #2d2d2d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 465px;
        padding-left: 80px;
        width: 600px;
        margin-right: -200px;
        margin-left: 110px;
        @include laptops {
            margin-bottom: 60px;
            margin-left: 0px;
        }
        @include tablets {
            width: 450px;
            margin-right: 0px;
        }
        @include phones {
            width: 300px;
            font-size: 12px;
            padding-left: 40px;
        }
        &-info {
            
            &__title-link {
                font-family: "$font-2";
                color: #d5d5d5;
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 40px;
                list-style-type: none;
            }

            &__title-list {
                color: #d5d5d5;
            }

            &__text-link {
                font-family: "$font-1";
                font-size: 16px;
                margin-bottom: 30px;
                list-style-type: none;
                
            }

            &__text-list {
                color: #b3b3b3;
                
                &--mrb {
                    margin-bottom: 15px;
                }
            }
        }
    }
}