extends ../templates/common.pug
block variables
	- var title = "Home";
block inner
	include ../blocks/header.pug
	include ../blocks/info.pug
	include ../blocks/content.pug
	include ../blocks/avatar.pug
	include ../blocks/adress.pug
	include ../blocks/main-info.pug
	include ../blocks/footer.pug			